:root {
    --black : #363432;
    --green : #196774;
    --lightgreen : #90A19D;
    --yellow: #F0941F;
    --orange: ##EF6024;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    font-size: var(--font-size);
    color: var(--black);
    background-color: var(--lightgreen);
}

h1, h2, h3 {
    margin: 0;
}

a {
    color: var(--orange);
}
a:hover {
    color: var(--yellow);
    text-decoration: none;
}

.section-green {
    background-color: var(--green);
}
.gradient {
    background: linear-gradient(90deg, rgba(104,104,164,1) 0%, rgba(182,223,200,1) 56%);
    height: 2px;
}



/* intro styles */

#intro {
    padding: 4rem 1rem 10rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

#intro p {
    padding-bottom: 1rem;
    line-height: 1.5;
}

#intro .name {
    font-family: var(--mono);
}

.name span {
    font-family: var(--sans);
    font-size: 4rem;
    color: var(--green);
    display: block;
}

#intro h2 {
    font-size: 3rem;
    font-weight: normal;
}

/* contact style*/
#contact {
    padding: 3rem 0;
    text-align: center;
    width: 400px;
    margin: 0 auto; /* first number represent top bottom and second represent left and right*/
    /*auto take the extra space of width(400px) and take it evenly both left and right */

}

#contact p:last-child {
    margin-top: 3em;
}

/* navbar */

nav {
    font-family: var(--mono);
    font-size: 80%;
    padding: 1rem;
}

nav h1 a {
    font-family: var(--sans);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav a {
    color: var(--black);
    text-decoration: none;
    display: bloc; /* not just a text */
}
nav a:hover {
    color: var(--green);
}
nav li:first-child {
    flex-basis: 100%;
    text-align: center;
}


/* search by class name */
nav [class*="fa-"] {
    font-size : 150%;
    color: var(--green);
}


nav h1 [class*="fa-"] {
    font-size: 100%;
    color: var(--green);
}

.button {
    background-color: var(--yellow);
    color: var(--black);
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-family: var(--mono);
}

.button:hover {
    color: var(--black);
}

/* responsive design */
@media (min-width: 850px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;
    }
    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}



/* footer style */


#footer {
    width: 400px;
    margin: 0 auto;
    padding: 1rem;
}

footer h2 {
    font-size: 100%;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 3rem auto;
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

footer [class*="fa-"] {
    font-size : 3rem;
    color: var(--green);
}

footer p {
    font-size : 0.7rem;
    text-align: center;
}




